language: go

go:
  - "1.13.x"
  - "1.14.x"
  - "1.15.x"
  - "1.16.x"
  - "1.17.x"
  - "1.18.x"

script:
  - go test -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)
